<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/feed.css">
</head>
<div class="gallery">
    <div class="gallery-item">
      <figure>
        <img src="https://images.dog.ceo/breeds/hound-english/n02089973_3147.jpg" alt="dog" />
        <figcaption>Picture of a few dogs having a rest and sleeping.</figcaption>
      </figure>
      <p>OMG, seriously how cute are these dogs?</p>
    </div>
    <div class="gallery-item">
      <figure>
        <img src="https://images.dog.ceo/breeds/poodle-toy/n02113624_1582.jpg" alt="dog" />
        <figcaption>Caption of the pic</figcaption>
      </figure>
      <p>More text about the image</p>
    </div>
    <div class="gallery-item">
      <figure>
        <img src="https://images.dog.ceo/breeds/pug/n02110958_13794.jpg" alt="dog" />
        <figcaption>Caption of the pic</figcaption>
      </figure>
      <p>More text about the image</p>
    </div>
    <div class="gallery-item">
      <figure>
        <img src="https://images.dog.ceo/breeds/terrier-australian/n02096294_5504.jpg" alt="dog" />
        <figcaption>Caption of the pic</figcaption>
      </figure>
      <p>More text about the image</p>
    </div>
    <div class="gallery-item">
      <figure>
        <img src="https://images.dog.ceo/breeds/kelpie/n02105412_1222.jpg" alt="dog" />
        <figcaption>Picture of a few dogs having a rest and sleeping.</figcaption>
      </figure>
      <p>OMG, seriously how cute are these dogs?</p>
    </div>
    <div class="gallery-item">
      <figure>
        <img src="https://images.dog.ceo/breeds/doberman/n02107142_1193.jpg" alt="dog" />
        <figcaption>Caption of the pic</figcaption>
      </figure>
      <p>More text about the image</p>
    </div>
    <div class="gallery-item">
      <figure>
        <img src="https://images.dog.ceo/breeds/terrier-russell/iguet4.jpeg" alt="dog" />
        <figcaption>Caption of the pic</figcaption>
      </figure>
      <p>More text about the image</p>
    </div>
    <div class="gallery-item">
      <figure>
        <img src="https://images.dog.ceo/breeds/newfoundland/n02111277_5292.jpg" alt="dog" />
        <figcaption>Caption of the pic</figcaption>
      </figure>
      <p>More text about the image</p>
    </div>
    <div class="gallery-item">
      <figure>
        <img src="https://images.dog.ceo/breeds/borzoi/n02090622_266.jpg" alt="dog" />
        <figcaption>Picture of a few dogs having a rest and sleeping.</figcaption>
      </figure>
      <p>OMG, seriously how cute are these dogs?</p>
    </div>
    <div class="gallery-item">
      <figure>
        <img src="https://images.dog.ceo/breeds/newfoundland/n02111277_11806.jpg" alt="dog" />
        <figcaption>Caption of the pic</figcaption>
      </figure>
      <p>More text about the image</p>
    </div>
    <div class="gallery-item">
      <figure>
        <img src="https://images.dog.ceo/breeds/poodle-miniature/n02113712_3293.jpg" alt="dog" />
        <figcaption>Caption of the pic</figcaption>
      </figure>
      <p>More text about the image</p>
    </div>
    <div class="gallery-item">
      <figure>
        <img src="https://images.dog.ceo/breeds/pembroke/n02113023_4881.jpg" alt="dog" />
        <figcaption>Caption of the pic</figcaption>
      </figure>
      <p>More text about the image</p>
    </div>
    <div class="gallery-item">
      <figure>
        <img src="https://images.dog.ceo/breeds/poodle-standard/n02113799_4946.jpg" alt="dog" />
        <figcaption>Caption of the pic</figcaption>
      </figure>
      <p>More text about the image</p>
    </div>
    <div class="gallery-item">
      <figure>
        <img src="https://images.dog.ceo/breeds/schnauzer-giant/n02097130_4050.jpg" alt="dog" />
        <figcaption>Caption of the pic</figcaption>
      </figure>
      <p>More text about the image</p>
    </div>
  </div>
</html>