<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="content">
      <!--pinterest logo-->
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
      <p class="header">Login to see more</p>
      <form action="/login" method="post">
        <input type="text" placeholder="Username" name="username" class="detail" />
        <input type="password" placeholder="Password" name="password" class="detail" />
        <input class="btn int"  type="submit" value="Login Your Account">
      </form>
      <a href="/forgot">Forgot your password?</a>
     

      <footer>
        <p>
          By continuing, you agree to Pinterest's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <a href="/">Not yet on Pinterest ? Sign Up</a>
      </footer>
    </div>
  </div>
  <!-- <a class="upbtn">Sign up</a> -->

</body>
</html>
